.btn {
    position: relative;
    top: 0;
    display: inline-block;
    text-align: center;
    @include font-work-sans-regular;
    @include font-size(1.9rem);
    color: $white;
    padding: 20px 40px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease-out;
    min-width: 300px;
    background: $red;
    -webkit-box-shadow: 0 0 20px -5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 20px -5px rgba(255, 255, 255, 1);
    box-shadow: 0 0 20px -5px rgba(255, 255, 255, 1);
    &:hover{
        top: -3px;
        transition: all .3s ease;
    }
}
.btn-holder{
    padding-top: 30px;
}
