.img-text{
    padding: 8vw 0;
    position: relative;
    &.pattern{
        background: linear-gradient(155deg, rgba(217, 21, 114, 1) 0%, rgba(221, 46, 129, 1) 20%, rgba(0, 0, 0, 1) 100%);
        &:before{
            position: absolute;
            content: '';
            width: 50%;
            height: 100%;
            background: url(/images/img-pattern.png);
            background-size: 1400px;
            background-position: 100% 50%;
            left: 0;
            top: 0;
            opacity: .25;
        }
    }
    &-wrap{
        display: flex;
        position: relative;
        z-index: 5;
        align-items: center;
        justify-content: space-between;
    }
    .img-holder{
        display: flex;
        width: 45%;
        img{
            width: 120%;
            height: auto;
            position: relative;
            left: -10vw;
        }
        &.img-right{
            img{
                width: 112%;
                left: auto;
            }
        }
    }
    .text-holder{
        display: flex;
        flex-direction: column;
        width: 45%;
        &.narrow{
            .text-holder-wrap{
                max-width: 480px;
            }
        }
        .heading{
            padding-bottom: 30px;
            h2{
                font-size: 0;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
        .note{
            @include font-size(1.7rem);
            text-transform: uppercase;
        }
    }
}
