.introbanner {
    padding: 0;
    position: relative;
    overflow: hidden;
    .banner-bg{
        position: absolute;
        content: '';
        left: 50%;
        top: -18%;
        width: 2200px;
        margin-left: -1100px;
        height: auto;
        @include respond-to(normal){
            width: 1440px;
            margin-left: -700px;
            top: -12%;
        }
    }
    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: calc(100vh);
        padding-top: 140px;
        @include respond-to(mobile-large){
            min-height: auto;
        }
    }
    .logos{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 50px 0;
        @include respond-to(mobile-large){
            padding: 30px 0;
        }
        .logos-container{
            max-width: 1440px;
            padding: 0 60px;
            @include respond-to(tablet){
                padding: 0 40px;
            }
            @include respond-to(mobile-large){
                padding: 0 30px;
            }
        }
    }
    .intro-text{
        &-wrap{
            width: 65%;
            position: relative;
            text-align: center;
            margin: 0 auto;
        }
        h1{
            font-size: 0;
            position: relative;
            .banner-lockup{
                width: 100%;
                height: auto;
                position: relative;
                z-index: 5;
            }
            .banner-lockup-shade{
                position: absolute;
                content: '';
                width: 110%;
                height: auto;
                left: 50%;
                top: 50%;
                transform: translate(-70%, -55%) rotate(-6deg);
                z-index: 2;
            }
        }
        .btn{
            position: relative;
            z-index: 5;
        }
    }
    .content-text{
        position: relative;
        z-index: 5;
        margin: 0 auto;
        padding: 20vh 0 8vh;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .6) 40%, rgba(0, 0, 0, 1) 60%);
        &-wrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            max-width: 750px;
            margin: 0 auto;
            position: relative;
        }

        .img-holder{
            padding-top: 50px;
        }
    }
}
