.security{
    padding: 10vw 0;
    position: relative;
    .heading{
        text-align: center;
        padding-bottom: 30px;
        h2{
            font-size: 0;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    .two-cols{
        display: flex;
        justify-content: space-between;
        .col{
            width: 46%;
        }
    }
    .bg-img{
        position: absolute;
        content: '';
        left: 50%;
        top: -10%;
        width: 100%;
        max-width: 1440px;
        height: auto;
        opacity: .2;
        transform: translateX(-50%);
    }
}
